{{ 'modal.css' | asset_url | stylesheet_tag }}

<div id="modal-overlay" class="modal-overlay">
    <div class="modal-content">
        <div id="onboard-welcome" class="onboard-welcome">
            <h1>Find clothing of the perfect size for you in a few simple steps:</p>
            <div class="introduction">
                <div class="introduction__step">
                    <img class="introduction__img" src="{{'circleone.png'|asset_url}}" alt="">
                    <p>Obtain your measurements easily with our camera technology</p>
                </div>
                <div class="introduction__step">
                    <img class="introduction__img" src="{{'circletwo.png'|asset_url}}" alt="">
                    <p>Get personalised sizing recommendations based on your body measurements</p>
                </div>
                <div class="introduction__step">
                    <img class="introduction__img" src="{{'circlethree.png'|asset_url}}" alt="">
                    <p>Buy clothes without worrying about wrong sizing!</p>
                </div>
            </div>
            <button id="onboard-welcome-next" class="btn btn-primary">
                <p class="btn-primary__text">Get Started</p>
            </button>
        </div>
        <div id="onboard-user-input" class="onboard-user-input hidden">
            <h1>Enter the following details to help us with your measurements: </h1>
            <form class="form">
                <div>
                    <label>Gender</label>
                    <select name="gender" id="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Prefer not to say</option>
                    </select>
                </div>
                <div>
                    <label>Height (cm)</label>
                    <div>
                        <input type="number" id="height-input">
                        <span class="unit" id="unitLabel">cm</span>
                    </div>

                </div>
                <div>
                    <label>Weight</label>
                    <input type="number" id="weight-input">
                </div>
                <div>
                    <label>Age</label>
                    <input type="number" id="age-input">
                </div>
            </form>

            <button id="onboard-user-input-next" class="btn btn-primary">
                <p class="btn-primary__text">Continue</p>
            </button>
            <button id="onboard-user-input-existing-profile" class="btn btn-secondary">
                <p class="btn-secondary__text">Use Existing Profile</p>
            </button>
        </div>
        <div id="onboard-camera-prompt" class="onboard-camera-prompt hidden">
            <h1>Fitback determines your measurements using oe picture of your front and one picture of your side. </h1>
            <div>
                <img src="{{'guide.png'|asset_url}}" alt="">
            </div>
            
            <button id="onboard-camera-prompt-next" class="btn btn-primary">
                <p class="btn-primary__text">Continue with scan</p>
            </button>
            <button id="onboard-camera-prompt-manual" class="btn btn-secondary">
                <p class="btn-secondary__text">Enter Measurement Manually</p>
            </button>
        </div>
        <div id="onboard-camera-guidelines" class="onboard-camera-guidelines hidden">
            <h1>Follow these guidelines for an accurate scan.</h1>
            <img src="{{'guidelines.png'|asset_url}}">
            <button id="onboard-camera-guidelines-next" class="btn btn-primary">
                <p class="btn-primary__text">Next</p>
            </button>
        </div>
        <div id="onboard-camera-position" class="onboard-camera-position hidden">
            <h1>Place camera upright at waist height and step back until your entire body is on the screen </h1>
            <img src="{{'cameraPosition.png'|asset_url}}">
            <button id="onboard-camera-position-next" class="btn btn-primary">
                <p class="btn-primary__text">Start Scan</p>
            </button>
        </div>

        <div id="recommendation-content" class="recommendation-content hidden">
            <nav class="modal-tabs">
              <button id="tab-fit" class="tab-button active">My Fit</button>
              <button id="tab-profile" class="tab-button">My Profile</button>
            </nav>
            <!-- Screen 1: "My Fit" -->
            <section id="screen-fit" class="tab-screen active">
                <div class="carousel-container">
                    <button class="carousel-btn prev-btn">←</button>
                
                    <div class="carousel">
                        <div class="carousel-item">XS</div>
                        <div class="carousel-item">S</div>
                        <div class="carousel-item selected">M <span class="recommended">Recommended</span></div>
                        <div class="carousel-item">L</div>
                        <div class="carousel-item">XL</div>
                    </div>
                
                    <button class="carousel-btn next-btn">→</button>
                </div>
            </section>
      
            <!-- Screen 2: "My Profile" -->
            <section id="screen-profile" class="tab-screen">

              </div>
            </section>
          </div>
    </div>   
    <div>
        <img class="footer-logo" src="{{'poweredByFitback.jpg'|asset_url}}" alt="">
    </div>
</div>

<button id="open-modal" class="open-modal-button">Find My Size</button>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/pose-detection"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl"></script>
<script src="{{ 'modal.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Modal Button",
  "target": "section",
  "settings": []
}
{% endschema %}